<%= render 'shared/errors', obj: @referral %>
<div class="row">
  <div class="col-xs-12">
    <%= form_for(@referral, :html => {class: "form-horizontal", role: "form"}) do |f| %>
    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :first_name %> </br>
        </div>
        <div class="col-sm-8">
        <%= f.text_field :first_name, class: "form-control", placeholder: "First name", autofocus: true %>
        </div>
    </div>
    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :last_name %>
      </div>
      <div class="col-sm-8">
        <%= f.text_field :last_name, class: "form-control", placeholder: "Last name" %>
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :ssn %>
      </div>
      <div class="col-sm-8">
        <%= f.text_field :ssn, class: "form-control", placeholder: "Social security number" %>
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :Medicare_ID_id %>
      </div>
      <div class="col-sm-8">
        <%= f.text_field :medicare_id, class: "form-control", placeholder: "Medicare ID" %>
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :Phone_number %>
      </div>
      <div class="col-sm-8">
        <%= f.text_field :phone_number, class: "form-control", placeholder: "Phone number" %>
      </div>
    </div>

    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :Insurance_Verified %>
      </div>
      <div class="col-sm-10">
        <%= f.select :verified, ['yes', 'pending', 'rejected'] %>
      </div>
    </div>
   
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary btn-lg" %>
      </div>
    </div>
      <% end %>
     <div class="col-xs-4 col-xs-offset-4">
        [ <%= link_to 'Cancel request and return to referrals', referrals_path %> ]
     </div> 
    </div>
  </div>