<%= render 'shared/errors', obj: @referral %>
<div class="row">
  <div class="col-xs-12">
    <%= form_for(@referral, :html => {class: "form-horizontal", role: "form"}) do |f| %>
    <div class="form-group required">
      <div class="control-label col-sm-2">
        <%= f.label :first_name %> </br>
        </div>
        <div class="col-sm-10">
        <%= f.text_field :first_name, class: "form-control", placeholder: "First name", autofocus: true, required: true %>
        </div>
    </div>
    <div class="form-group required">
      <div class="control-label col-sm-2">
        <%= f.label :last_name %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :last_name, class: "form-control", placeholder: "Last name", required: true %>
      </div>
    </div>
    <div class="form-group required">
      <div class="control-label col-sm-2">
        <%= f.label :dob%>
      </div>
      <div class="col-sm-10">
        <input type="date" 
        class="form-control" 
        id="date" 
        name='referral[date_of_birth]' 
        value=<%= @referral.date_of_birth %>
        />
      </div>
    </div>
    <div class="form-group required">
      <div class="control-label col-sm-2">
        <%= f.label :Address_line_1 %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :street1, class: "form-control", placeholder: "Street 1", required: true %>
      </div>
    </div>
    <div class="form-group required">
      <div class="control-label col-sm-2">
        <%= f.label :Address_line_2 %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :street2, class: "form-control", placeholder: "Street 2", required: true %>
      </div>
    </div>
    <div class="form-group required">
      <div class="control-label col-sm-2">
        <%= f.label :Address_line_3 %>
      </div>
      <div class="col-sm-3">
        <%= f.text_field :city, class: "form-control", placeholder: "City", required: true %>
      </div>
      <div class="col-sm-3">
        <%= f.select(:state, ['AL','AK','AS','AZ','AR','CA','CO','CT','DE','DC','FM','FL','GA','GU','HI','ID','IL','IN','IA','KS','KY','LA','ME','MH','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','MP','OH','OK','OR','PW','PA','PR','RI','SC','SD','TN','TX','UT','VT','VI','VA','WA','WV','WI','WY'], {:prompt => "State"}, { :class => "form-control" }) %>
      </div>
      <div class="col-sm-3">
        <%= f.text_field :zip_code, class: "form-control", placeholder: "zip code", required: true %>
      </div>
    </div>

    <div class="form-group required">
      <div class="control-label col-sm-2">
        <%= f.label :ssn %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :ssn, class: "form-control", placeholder: "Social security number", required: true %>
      </div>
    </div>
    <div id="insuranceField1" class="form-group required">
      <div class="control-label col-sm-2">
        <%= f.label :Insurance_ID_id %>
      </div>
      <div class="col-sm-2">
        <%= f.text_field :insurance_id_1, class: "form-control", placeholder: "Insurance ID", required: true %>
      </div>
      <div class="control-label col-sm-2">
        <%= f.label :insurance_name %>
      </div>
      <div class="col-sm-3">
        <%= f.select(:insurance_name_1, ['AARP Medicare Complete', 'Aetna (only PPO)', 'Emblem', 'Independent Care Systems (ICS) (MCR only)', 'GHI', 'Healthfirst', 'HIP', 'Medicare', 'Healthfirst Medicaid', 'Oxford', 'Senior Whole Health', 'HIP Medicaid', 'United Healthcare', 'Village Care', 'VNS Choice', 'Wellcare', 'Fidelis (MCR only)', 'Centers Plan for Healthy Living(CPHL) (MCR only)', 'Other'], {:prompt => "Choose name"}, { :class => "form-control" }) %>
      </div>
     
    </div>
    <div id="insuranceField2" class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :Insurance_ID_id %>
        <%= f.label :"(optional)", class: "optional" %>
      </div>
      <div class="col-sm-2">
        <%= f.text_field :insurance_id_2, class: "form-control", placeholder: "Insurance ID" %>
      </div>
      <div class="control-label col-sm-2">
        <%= f.label :insurance_name %>
      </div>
      <div class="col-sm-3">
        <%= f.select(:insurance_name_2, ['AARP Medicare Complete', 'Aetna (only PPO)', 'Emblem', 'Independent Care Systems (ICS) (MCR only)', 'GHI', 'Healthfirst', 'HIP', 'Medicare', 'Healthfirst Medicaid', 'Oxford', 'Senior Whole Health', 'HIP Medicaid', 'United Healthcare', 'Village Care', 'VNS Choice', 'Wellcare', 'Fidelis (MCR only)', 'Centers Plan for Healthy Living(CPHL) (MCR only)', 'Other'], {:prompt => "Choose name"}, { :class => "form-control" }) %>
      </div>
    </div>
    <div id="insuranceField3" class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :Insurance_ID_id %>
        <%= f.label :"(optional)", class: "optional" %>
      </div>
      <div class="col-sm-2">
        <%= f.text_field :insurance_id_3, class: "form-control", placeholder: "Insurance ID" %>
      </div>
      <div class="control-label col-sm-2">
        <%= f.label :insurance_name %>
      </div>
      <div class="col-sm-3">
        <%= f.select(:insurance_name_3, ['AARP Medicare Complete', 'Aetna (only PPO)', 'Emblem', 'Independent Care Systems (ICS) (MCR only)', 'GHI', 'Healthfirst', 'HIP', 'Medicare', 'Healthfirst Medicaid', 'Oxford', 'Senior Whole Health', 'HIP Medicaid', 'United Healthcare', 'Village Care', 'VNS Choice', 'Wellcare', 'Fidelis (MCR only)', 'Centers Plan for Healthy Living(CPHL) (MCR only)', 'Other'], {:prompt => "Choose name"}, { :class => "form-control" }) %>
      </div>
  
    </div>
    <div class="form-group required">
      <div class="control-label col-sm-2">
        <%= f.label :Phone_number %>
      </div>
      <div class="col-sm-3">
        <%= f.text_field :phone_number_1, class: "form-control", placeholder: "Phone number", required: true %>
      </div>
      <div class="col-sm-3">
        <%= f.text_field :phone_number_2, class: "form-control", placeholder: "Phone number (optional)" %>
      </div>
      <div class="col-sm-3">
        <%= f.text_field :phone_number_3, class: "form-control", placeholder: "Phone number (optional)" %>
      </div>
    </div>
  <% if current_user.role < 2 %>
    <div class="form-group required">
      <div class="control-label col-sm-2">
        <%= f.label :Insurance_Verified %>
      </div>
      <div class="col-sm-8">
        <%= f.select(:verified, ['pending', 'yes', 'rejected'], {:id => "sel1"}, { :class => "form-control" }) %>
      </div>
    </div>

     <div class="form-group required">
      <div class="control-label col-sm-2">
        <%= f.label :Status %>
      </div>
      <div class="col-sm-8">
        <%= f.select(:status, ['Entered', 'Insurance Reviewed', 'Contacted', 'Scheduled(pending)', 'Scheduled(confirmed)', 'Seen', 'Active', 'Canceled'], {}, {:class => "form-control" }) %>
      </div>
    </div>

    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :Initial_visit%>
      </div>
      <div class="col-sm-10">
        <input type="date" 
        class="form-control" 
        id="initial_visit_date" 
        name='referral[initial_visit]'
        />
      </div>
    </div>

   <% end %>


    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary btn-lg" %>
      </div>
    </div>
      <% end %>
      <% if current_user.role < 2 %>
     <div class="col-xs-4 col-xs-offset-4">
        [ <%= link_to 'Cancel request and return to referrals', referrals_path %> ]
     </div> 
     <% else %>
      <div class="col-xs-4 col-xs-offset-4">
          [ <%= link_to 'Cancel request and return to referrals', user_path(current_user) %> ]
      </div> 
     <% end %>`
    </div>
  </div>
  <script>
    var insuranceField1 = document.querySelector('#insuranceField1');
    var insuranceDropdown1 = document.querySelector('#referral_insurance_name_1');

    $(insuranceDropdown1).change(function() {
      if (this.value === 'Other') {
        var otherInput1Container = document.createElement('div');
        otherInput1Container.setAttribute('class', 'col-sm-3');
        var otherInput1 = document.createElement('input');
        otherInput1.setAttribute('id', 'otherInsuranceName1');
        otherInput1.setAttribute('class', 'form-control');
        otherInput1.setAttribute('placeholder', 'Insurance name');
        otherInput1.setAttribute('type', 'text');
        otherInput1.setAttribute('name', 'referral[insurance_name_1]');
        otherInput1Container.appendChild(otherInput1);
        insuranceField1.appendChild(otherInput1Container);
      } else {
        var otherInput1 = $('#otherInsuranceName1');
        $(otherInput1).remove()
      }
    });

     var insuranceField2 = document.querySelector('#insuranceField2');
    var insuranceDropdown2 = document.querySelector('#referral_insurance_name_2');

    $(insuranceDropdown2).change(function() {
      if (this.value === 'Other') {
        var otherInput2Container = document.createElement('div');
        otherInput2Container.setAttribute('class', 'col-sm-3');
        var otherInput2 = document.createElement('input');
        otherInput2.setAttribute('id', 'otherInsuranceName2');
        otherInput2.setAttribute('class', 'form-control');
        otherInput2.setAttribute('placeholder', 'Insurance name');
        otherInput2.setAttribute('type', 'text');
        otherInput2.setAttribute('name', 'referral[insurance_name_2]');
        otherInput2Container.appendChild(otherInput2);
        insuranceField2.appendChild(otherInput2Container);
      } else {
        var otherInput2 = $('#otherInsuranceName2');
        $(otherInput2).remove()
      }
    });

    var insuranceField3 = document.querySelector('#insuranceField3');
    var insuranceDropdown3 = document.querySelector('#referral_insurance_name_3');

    $(insuranceDropdown3).change(function() {
      if (this.value === 'Other') {
        console.log('in 3');
        var otherInput3Container = document.createElement('div');
        otherInput3Container.setAttribute('class', 'col-sm-3');
        var otherInput3 = document.createElement('input');
        otherInput3.setAttribute('id', 'otherInsuranceName3');
        otherInput3.setAttribute('class', 'form-control');
        otherInput3.setAttribute('placeholder', 'Insurance name');
        otherInput3.setAttribute('type', 'text');
        otherInput3.setAttribute('name', 'referral[insurance_name_3]');
        otherInput3Container.appendChild(otherInput3);
        insuranceField3.appendChild(otherInput3Container);
      } else {
        var otherInput3 = $('#otherInsuranceName3');
        $(otherInput3).remove()
      }
    });
   
  </script>