<h1>Referrals Index</h1>
<p>
  <%= link_to "Create new referral", new_referral_path %>
</p>
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
  </tr>
  <% @referrals.each do |referral| %>
  <tr>
    <td><%= referral.first_name %></td>
    <td><%= referral.last_name %></td>
    <td><%= link_to 'Edit', edit_referral_path(referral) %></td>
    <td><%= link_to 'Show', referral_path(referral) %></td>
  </tr>
  <% end %>
</table>