<%#= render 'referrals/lookup' %>


<h1 align="center">Listing all referrals</h1>
<div align="center">
  <%#= will_paginate %>
</div>
<input class="form-control" id="myInput" type="text" placeholder="Search..">
<br>
<div class="referral-index">
  <table class="table table-bordered table-striped">
    <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Social</th>
          <th>Status</th>
          <th>Initial visit date (yyyy-mm-dd)</th>
          <th>Created</th>
        </tr>
      </thead>

      <% @referrals.each do |referral| %>
        <tbody id="myTable">
          <tr>
            <td><%= link_to referral.first_name, referral_path(referral) %></td>
            <td><%= link_to referral.last_name, referral_path(referral) %></td>
            <td><%= referral.ssn %></td>
            <td><%= referral.status %></td>
            <% if referral.initial_visit != nil %>
            <td><%= referral.initial_visit %></td>
            <% else %>
            <td>Not yet scheduled</td>
            <% end %>
            <td><%= time_ago_in_words(referral.created_at) %> ago</td>
          </tr>
        </tbody>
      <% end %>
  </table>
</div>

 <%#= render 'referral', obj: @referrals %>
<div align="center">
  <%#= will_paginate %>
</div>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

</script>