<h1>Create an referral</h1>
<% if @referral.errors.any? %>

<h2>The following errors prevented the article from getting created</h2>

<ul>

<% @referral.errors.full_messages.each do |msg| %>

<li><%= msg %></li>

<% end %>

</ul>

<% end %>
  <%= form_for @referral do |f| %>
  <p>
    <%= f.label :first_name %><br/>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br/>
    <%= f.text_field :last_name %>
  </p>
   <p>
    <%= f.label :social_security_number %><br/>
    <%= f.text_field :ssn %>
  </p>
   <p>
    <%= f.label :medicare_id_id %><br/>
    <%= f.text_field :medicare_id %>
  </p>
   <p>
    <%= f.label :phone_number %><br/>
    <%= f.text_field :phone_number %>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <% end %>