
<h2 align="center"><%= @referral.first_name %> <%= @referral.last_name %></h2>
<div class="well col-xs-8 col-xs-offset-2">
  <h4 class="center ssn"><strong>SSN:</strong>  <%= @referral.ssn %></h4>
  <h4 class="center medicareID"><strong>Medicare ID:</strong>  <%= @referral.medicare_id %></h4>
  <h4 class="center phoneNumber"><strong>Phone number:</strong>  <%= @referral.phone_number %></h4>
    
  <div class="referral-actions">
    <%= link_to "Edit this refferal", edit_referral_path(@referral), class: "btn btn-xs btn-primary" %>
    <%= link_to "View all referals", referrals_path, class: "btn btn-xs btn-success" %>
  </div>
</div>