<h1>Showing selected referral</h1>
<p>
  First Name: <%= @referral.first_name %>
</p>
<p>
  Last Name: <%= @referral.last_name %>
</p>
<p>
  Social Security Number: <%= @referral.ssn %>
</p>
<p>
  Medicare ID: <%= @referral.medicare_id %>
</p>
<p>
  Phone Number: <%= @referral.phone_number %>
</p>
