
<h2 align="center"><%= @referral.first_name %> <%= @referral.last_name %></h2>
<div class="well col-xs-8 col-xs-offset-2">
  <h6 align="center" class="referredBy"><strong>Referred by:</strong> <%= @referral.user.user_name %></h6>
  <h4 class="ssn"><strong>Date of birth:</strong>  <%= @referral.date_of_birth %></h4>
  <h4 class="address"><strong>Address:</strong>  <%= @referral.street1 %>, <%= @referral.street2 %>, <%= @referral.city %>, <%= @referral.state %>, <%= @referral.zip_code %></h4>
  <h4 class="ssn"><strong>SSN:</strong>  <%= @referral.ssn %></h4>
  <h4><strong>Insurance ID:</strong>  <%= @referral.insurance_id_1 %> </h4>
  <h4 class="insuranceName"><strong>Insurance Name:</strong> <%= @referral.insurance_name_1 %> </h4>
  <% if @referral.insurance_name_2.present? %>
    <h4><strong>Insurance ID 2:</strong>  <%= @referral.insurance_id_2 %> </h4>
    <h4 class="insuranceName"><strong>Insurance Name 2:</strong> <%= @referral.insurance_name_2 %> </h4>
  <% end %>
  <% if @referral.insurance_name_3.present? %>
    <h4><strong>Insurance ID 3:</strong>  <%= @referral.insurance_id_3 %>
  </h4>
  <h4 class="insuranceName"><strong>Insurance Name 3:</strong> <%= @referral.insurance_name_3 %> </h4>
  <% end %>
  <h4 class="phoneNumber"><strong>Phone number:</strong>  <%= @referral.phone_number_1 %></h4>
  <% if @referral.phone_number_2.present? %>
    <h4 class="phoneNumber"><strong>Phone number:</strong>  <%= @referral.phone_number_2 %></h4>
  <% end %>
  <% if @referral.phone_number_3.present? %>
    <h4 class="phoneNumber"><strong>Phone number:</strong>  <%= @referral.phone_number_3 %></h4>
  <% end %>
  <% if @referral.verified == 'yes' %>
    <h4><strong class='verified'>Insurance Verified</strong></h4>
  <% elsif @referral.verified == 'pending' %>
    <h4><strong class='notYetVerified'>Insurance Verification Pending</strong></h4>
  <% elsif @referral.verified == 'rejected' %>
    <h4><strong class='rejected'>Insurance Rejected</strong></h4>
  <% end %>
  <%= render 'progress_bar_show', obj: @referral.status %>
  <div class="referral-actions">
    <%= link_to "Edit this refferal", edit_referral_path(@referral), class: "btn btn-xs btn-primary" %>
    <% if current_user.role < 2 %>
      <%= link_to "View all referals", referrals_path, class: "btn btn-xs btn-success" %>
    <% else %>
      <%= link_to "View all referals", user_path(current_user), class: "btn btn-xs btn-success" %>
    <% end %>
  </div>
</div>
  <div class="col-sm-5 col-sm-offset-2">
    <div class="container">
      <div class="row">
        <div class="col-md-8 referral-notes">
          <h2 class="page-header">Notes</h2>
          <%= render @referral.notes.order(id: :desc) %>
        </div>
      </div>
    </div>
  </div>


         