<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "HchbRefferals" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <% if current_user %>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'HCHB Referrals', referrals_path, class: 'navbar-brand', id: 'logo' %>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "New Referral", new_referral_path  %></li>
            <% if logged_in? && (current_user.role == 0 || current_user.role == 1) %>
            <li><%= link_to "Referrals", referrals_path %></li>
            <li><%= link_to "Companies", users_path %></li>
            <% end %>
          </ul>
          <ul class="nav navbar-right col-md-4">
              <li class="col-md-8 user-name text-right">
                <i class="fa fa-user"></i>
                <% if current_user.company_name.present? %> 
                  <%= link_to current_user.company_name, user_path(current_user), id: 'profile-btn' %>
                <% end %>
              </li>
              <li class="col-md-4 logout"><%= link_to("logout", destroy_user_session_path, class: "btn btn-xs btn-danger", method: :delete) %></li>
            </ul>
        </div>
        <% end %>
      </div>
    </div>
    <%= render 'layouts/messages' %>
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->

      <footer>
        <p>&copy; Company HCHB 2018</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
